.visually-hidden {
  position: absolute;
  width: 0.1px;
  height: 0.1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

header, 
section {
  background-color: #D9D9D9;
}

.container {
  max-width: 1123px;
  margin: 0 auto;
  padding: 0 26px;
}

.wrapper {
  display: grid;
  grid-template-columns: 810px 300px;
  grid-template-rows: auto;
  gap: 0 67px;
  justify-content: center;
}