// font size
$baseFontSize: 16px;

// font family
$interFont: 'Inter', sans-serif;;

// COLORS
$whiteColor: #fff;
$greyColor: #D9D9D9;
$blackColor: #000;
$yellovLogoColor: #F1F2AE;
$yellovMenuColor: #E7EFD6;
$pinkColor: #F9D7D7;
$blueColor: #BDCDF6;
