.header {
    padding: 6px 0;
}

.container {
    max-width: 1123px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__text {}

.header__menu{}

.header__menu-list{
    display: flex;
    align-items: center;
    gap: 19px;
}
